.BuildControls{
    width: 100%;
    background-color: sandybrown;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0px 1px 2px #ccc;
    margin: auto;
    padding: 10px 0;
}