.SideDrawer{
    left:0;
    top:0;
    height: 100%;
    background-color: blanchedalmond;
    box-sizing: border-box;
    padding: 32px 16px;
    position: fixed;
    width: 280px;
    max-width: 70%;
    z-index: 200;
    display: block;
    transition: transform 0.3s ease-out;
}

@media (min-width: 500px){
    .SideDrawer{
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.Logo{
    height:11%;
}