.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left;
}

.InputElement {
    font: inherit;
    border: 1px solid #ccc;
    background-color: white;
    outline: none;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus{
    outline: none;
    background-color: rgb(247, 241, 175);
}

.Invalid{
    border: 1px solid red;
    background-color: #FDA49A;
}

.ErrorMessage {
    text-align: left;
    display: block;
    color: red;
    margin: 5px 5px;
}