.NavigationItems{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    list-style: none;
}

@media(min-width:500px){
    .NavigationItems{
        flex-flow: row;
    }
}